@font-face {
  font-family: Circular;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-1601bfce1c9652eb33ea807d817a30dd.eot");
  src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-1601bfce1c9652eb33ea807d817a30dd.eot?#") format("eot"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-f016908d84431f0566776240dc8652fc.woff2") format("woff2"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-a81fe8415c30ad3049cfb08d3623587d.woff") format("woff"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-43e1d462e585f16e90b5d27423fc5d8b.svg") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-35e1cf57d93dc4eb3db11cc2448cb91f.eot");
  src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-35e1cf57d93dc4eb3db11cc2448cb91f.eot?#") format("eot"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-4909b413294f9048153d6dee23438b24.woff2") format("woff2"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-1db902f5b85bbb0964e2994434edbe16.woff") format("woff"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-0d9eb203b260869dc2470ae35162fc1e.svg") format("svg");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: Circular;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-44d43ca7b4c3bf5364285df6282fbe52.eot");
  src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-44d43ca7b4c3bf5364285df6282fbe52.eot?#") format("eot"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-c6b068854263ae24ccc36a2b944d7017.woff2") format("woff2"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-0dba9a8cc666f696e92eff76a5d753f1.woff") format("woff"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-9ae13155a0bad6697556e3713a89795b.svg") format("svg");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-c4695b2827a2478e391c155781777f66.eot");
  src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-c4695b2827a2478e391c155781777f66.eot?#") format("eot"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-328fc4c742a91de3477978911e384410.woff2") format("woff2"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-f76c67e53b97895a8f31fc8f0246ab7f.woff") format("woff"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-d1ee89419dc527be163d0151af5b087e.svg") format("svg");
  font-weight: 200;
  font-style: normal
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
}

.App {
  display: block;
  margin: 0 auto;
  max-width: 900px;
  padding: 40px;
}

.App--LoveWrapper {
  text-align: center;
}

.App--AirbnbLogo {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
}

.App--Love {
  display: inline-block;
  font-size: 42px;
  margin: 0 20px;
  padding-top: 8px;
  vertical-align: middle;
}

.App--RTLogo {
  display: inline-block;
  fill: #303f9f;
  vertical-align: middle;
  width: 60px;
}

.App--title {
  font-size: 38px;
  font-weight: 200;
  letter-spacing: -0.8px;
  line-height: 46px;
  max-width: 90%;
}

.App--title__strong {
  color: #FF5A5F;
  display: inline-block;
  font-size: 38px;
  font-weight: 700;
  margin-right: 10px;
}
